body { 
    color: white;
     background-color:rgb(49, 59, 58) ;
     width: 90%;
margin-left: auto;
margin-right: auto;
}  




h1 {
    font-size: 20px;

border-style:dotted;
border-color:rgb(206, 196, 62);
}
nav {
    float: left;
  }


  



p {
    font-size: 12px;
    color: rgb(142, 148, 142);
background-color: indigo;
border-radius: 25px;
}

.reunus{
    color: rgb(36, 148, 79);
    background-color: rgb(8, 114, 64);
    border-style: dotted;
    border-width: 2px;
    width: 100px;
    height: 100px;
}
ul{list-style-type: square;}
ol {
    list-style-type: lower-latin;
}
header{background-color: rgb(13, 216, 155);
}
nav{background-color: rgb(167, 102, 38);
}

section{background-color: rgb(4, 134, 63);
    float:right;
    width: 80%;
    
}
