body { 
    color: white;
     background-color:black ;
     width: 90%;
margin-left: auto;
margin-right: auto;
}  




h1 {
    font-size: 20px;

border-style:dotted;
border-color:green;
}

p {
    font-size: 12px;
    color: green;
background-color: indigo;
border-radius: 25px;
}

.reunus{
    color: grey;
    background-color: whitesmoke;
    border-style: dotted;
    border-width: 2px;
    width: 100px;
    height: 100px;
}
ul{list-style-type: square;}
ol {
    list-style-type: lower-latin;
}
header{background-color: palevioletred;
}
nav{background-color: peru;
}

section{background-color: powderblue;
}
